---
import "../styles/global.css";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import  SpeedInsights  from "@vercel/speed-insights/astro"
const {
  pageTitle = "NeonMint by arunaiajith 🚀",
  description = "Welcome to my website arunaiajith, where I develop software and share knowledge.",
  ogimage = {
    url: "/images/imagedefault.webhttps://imagekit.io/tools/asset-public-link?detail=%7B%22name%22%3A%22Screenshot%202025-04-17%20at%203.06.01%E2%80%AFPM.png%22%2C%22type%22%3A%22image%2Fpng%22%2C%22signedurl_expire%22%3A%222028-04-16T09%3A36%3A49.603Z%22%2C%22signedUrl%22%3A%22https%3A%2F%2Fmedia-hosting.imagekit.io%2F47d824302925497f%2FScreenshot%25202025-04-17%2520at%25203.06.01%25E2%2580%25AFPM.png%3FExpires%3D1839490610%26Key-Pair-Id%3DK2ZIVPTIP2VGHC%26Signature%3DzInlAG0wy65U~QGb94NCy6waY73IObs3w-Q5O8qslo-g9pYBwhUreh1oCrt7zwGYyFzeZh4FKfOv2vCWUHDN8sm13FU8hQUztwZZ3OPzo6BuNKQi-6EI6b8mEywDNv5PIgo9UeQ40JaGFfT62QzDTmU7y3PWLYkmBjpwQDNdHmCiUVvBKWK0IJUDD3quvEyG-qeU4mmWqURvbAk83mN-E1YY7wF3VKgwwW89yNwmiIXzwet2YvqLCu0lN4lAV65scPF1J6jSnpkI0U7cWho7SIvL7mEu-siBj0u37C7gA-QkyOigsdpTaZNaVv7vpDtMKcJvm0hNVXzEjRI7pz28Ow__%22%7D",
    alt: "Default image of EFEELE",
  },
} = Astro.props;

const siteUrl = new URL(Astro.url).origin;
const SEO = {
  sitename: "arunaiajith",
  url: siteUrl,
  locale: "en_US",
  author: "Ajith Kumar M | arunaiajith",
  twitter: "@efeeledev",
};


const twitterimage = `${siteUrl}${ogimage.url}`;
---

<html
  lang="en"
  class="dark:bg-[#0E0E11] bg-mint-50/5 font-montserrat scroll-smooth"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <!-- Favicon for different platforms -->
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" href="/android-chrome-512x512.png" sizes="512x512" />

    <!-- Web manifest -->
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="description" content={description} />
    <meta name="author" content={SEO.author} />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={`${Astro.site}${Astro.url.pathname}`}>
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogimage.url} />
    <meta property="og:image:alt" content={ogimage.alt} />
    <meta property="og:url" content={SEO.url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={SEO.sitename} />
    <meta property="og:locale" content={SEO.locale} />
    

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={twitterimage} />
    <meta name="twitter:image:alt" content={ogimage.alt} />
    <meta name="twitter:site" content={SEO.twitter} />
  
    <meta name="theme-color" content="#0E0E11"/>

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    
  </head>
  <body class="overflow-x-hidden">
    <SpeedInsights/>
    <div class="blur-circle"></div>
    <div
      style="  background:linear-gradient(45deg, rgba(96, 250, 155, 0) 10.79%, rgba(96, 250, 170, 0.03) 40.92%, rgba(96, 250, 155, 0) 90.35%)"
      class="fixed top-0 left-0 w-full h-full pointer-events-none -z-1"
    >
    </div>
    <Header />

    <div class="min-h-[85vh] ">
      <slot />
    </div>

    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
